body
{
    background-color:rgb(251, 197, 224);
    margin:0%;
    padding:0%;
}

.home {
    font-family: ;
}
.bnn {
    height: 15vh;
    margin-left: 80%;
    margin-top: -5%;
}
.minion {
    height: 40vh;
    transition: 2s;
}

.minion:hover
{
    margin-left: 100%;
}

h1{
    color: rgb(87, 47, 67);
}
.rafa {
    height: 5vh;
    margin-left: 88vw;
    margin-top: 2.5vh;

}
.mari {
    color: blueviolet;
} 

nav {
    background-color: rgb(186, 107, 160);
    color: rgb(227, 167, 197);
    margin-top:-3vh;
    padding:1.5%;
    display: flex;
}